@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

color:blanchedalmond;
display: grid;
grid-template-columns: 150%;
border-bottom: 12px solid black;
}
button:hover {
	opacity: 0.5;
  }
button,input,textbox{
	padding: 15px 100px;
	margin: 10px 4px;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
	position: relative;
background-color:aliceblue;
color:black;

}

h1{
color:gold; 
	font-family: 'Oleo Script', cursive;
	font-size:50px;
	
	height:auto;
	
	
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select{
 
  color:black;
  text-align:center;
  transition:background .4s ease-in-out;
  display:flex;
  align-items:center;

  background-color:aliceblue;
color:black; 

 border-radius: 25px;
}
option{
	
margin:15px;
  border-radius: 25px;
 font-size:20px;

 

}

option:hover{
  color:red; 
 
  
}



option:onClick{
	padding:0px;
	
	
}

div{
  top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
	width:100%;
	
padding:10px;
margin: 20px;






}
.divCenter{
			position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
}
span{
	font-size:25px;
	color:black;
font-family: 'Pangolin', cursive;
 text-transform: uppercase;
  text-justify: inter-word;
 text-align:center;
	
	top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
	width:100%;
	
}
textarea{
	display:block;

	
	
	
}
.logos,tr,input{
	size:20px;

display: inline;
color:chocolate;
text-align: center;
text-transform: uppercase;
}